/* start variables */
:root {
  --main-color: #06a6d0;
  --main-text-color: #fff;
  --secondary-text-color: #444;
  --transparent-color: #06a6d061;
  --blend-color: #191935a6;
  --main-title-font-size: 3rem;
  --main-heading-font-size: 2rem;
  --main-description-font-size: 1rem;
  --main-heading-line-height: 1.2;
  --main-description-line-height: 1.6;
}
/* end variables */

/* start utilites */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding: 0 15px;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  border: none;
  padding: 10px 15px;
  background-color: var(--main-color);
  color: var(--main-text-color);
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

/* * button animation */
.btn-animation {
  transition: 200ms transform ease-in-out;
  -webkit-transition: 200ms transform ease-in-out;
  -moz-transition: 200ms transform ease-in-out;
  -ms-transition: 200ms transform ease-in-out;
  -o-transition: 200ms transform ease-in-out;
}

.btn-animation:hover {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}

/* end utilites */

/* start components */
.title-component h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--main-title-font-size);
  color: black;
  margin-bottom: 50px;
  position: relative;
  margin-top: 50px;
}

.title-component h1::after {
  content: "";
  position: absolute;
  background-color: #444;
  height: 2px;
  width: 110px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.title-component h1::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border: 2px solid #333;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: -23px;
  background-color: white;
  z-index: 1;
}

.title-component p {
  line-height: var(--main-description-line-height);
  font-size: var(--main-description-font-size);
  color: var(--secondary-text-color);
  max-width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}

/* bullets */
.bullets div {
  display: flex;
  gap: 5px;
}

.bullets span {
  width: 15px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.bullets .active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/* end components */

/* start header */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 3;
  color: var(--main-text-color);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  position: relative;
  min-height: 87px;
}

.header .container::before {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  background-color: var(--main-text-color);
  bottom: 0;
}

.header .logo img {
  width: 150px;
}

.header .navbar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .toggle-icon {
  font-size: 25px;
  padding: 10px;
  display: none;
}

.header .navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header .navbar ul a {
  display: block;
  color: var(--main-text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 35px 15px;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid transparent;
}

.header .toggle-icon + ul.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
}

.header .navbar ul.active li a {
  padding: 15px;
}

.header .navbar ul.active li {
  width: calc(100% - 30px);
  background-color: #060606c4;
}

.header .navbar ul li a:hover,
.header .navbar ul li a.active {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
}

.header .search-bar {
  position: relative;
}

.header .search-bar::before {
  content: "";
  position: absolute;
  background-color: var(--main-text-color);
  height: 30px;
  width: 1px;
  left: 0;
  top: -6px;
}

.header .search-icon {
  margin-left: 15px;
}
/* end header */

/* start landing */
.landing {
  min-height: 100vh;
  background: url(../images/landing.jpg), var(--blend-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
}

.landing .content-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 60%;
  color: var(--main-text-color);
  background-color: var(--transparent-color);
  padding: 35px 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.landing .content-box .content {
  max-width: 650px;
  margin-left: 60px;
}

.landing .content-box .content .content-title {
  margin: 0;
  line-height: var(--main-heading-line-height);
  font-size: var(--main-heading-font-size);
  margin-bottom: 30px;
}

.landing .content-box .content .content-description {
  line-height: var(--main-description-line-height);
  font-size: var(--main-description-font-size);
  letter-spacing: 0.5px;
}

.landing .arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 100%;
}

.landing .arrows .fa-chevron-right {
  position: absolute;
  right: 30px;
  color: var(--main-text-color);
}

.landing .arrows .fa-chevron-left {
  position: absolute;
  left: 30px;
  color: var(--main-text-color);
}

.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 30px;
}

/* end landing */

/* start services */
.services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .services-content {
  margin-top: 70px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.services .services-content .service {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}
.services .services-content .service-title {
  color: var(--main-color);
  font-size: calc(var(--main-heading-font-size) * 0.7);
}
.services .services-content .service-description {
  grid-column: 2/3;
  color: var(--secondary-text-color);
  line-height: var(--main-description-line-height);
  font-size: var(--main-description-font-size);
}

/* end services */

/* start services banner */
.services-banner {
  background: url(../images/services-banner.jpg), var(--blend-color);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  min-height: 600px;
  color: var(--main-text-color);
  position: relative;
  overflow: hidden;
}

.services-banner .banner-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 60%;
  background-color: var(--transparent-color);
  padding: 35px 15px;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.services-banner .banner-box-content {
  max-width: 650px;
  margin-left: 60px;
}

.services-banner .banner-box-title {
  margin: 0;
  line-height: var(--main-heading-line-height);
  font-size: var(--main-heading-font-size);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.services-banner .banner-box-description {
  line-height: var(--main-description-line-height);
  font-size: var(--main-description-font-size);
  font-weight: bold;
  letter-spacing: 0.8px;
}

.services-banner .banner-box-description div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 10px;
}

.services-banner .images {
  position: absolute;
  top: 35%;
  left: 50px;
}

.services-banner .images img {
  width: 200px;
}

.services-banner .images img:first-child {
  z-index: 2;
  position: relative;
}
.services-banner .images img:nth-child(2) {
  position: absolute;
  top: 20%;
  left: 100px;
}
/* end services banner */

/* start portfolio */
.portfolio .portfolio-select-bar {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-select-bar ul {
  list-style: none;
  display: flex;
}

.portfolio .portfolio-select-bar .btn {
  font-size: 18px;
  padding: 10px;
  margin: 0;
  background-color: #fff;
  color: #000;
}

.portfolio .portfolio-select-bar ul a:hover,
.portfolio .portfolio-select-bar ul a.active {
  background-color: var(--main-color);
  color: var(--main-text-color);
}

.portfolio .work-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}

.portfolio .work-gallery .block {
  position: relative;
  overflow: hidden;
}

.portfolio .work-gallery .block:hover .pop-up {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.portfolio .work-gallery .block:hover img {
  transform: rotate(2deg) scale(1.1);
  -webkit-transform: rotate(2deg) scale(1.1);
  -moz-transform: rotate(2deg) scale(1.1);
  -ms-transform: rotate(2deg) scale(1.1);
  -o-transform: rotate(2deg) scale(1.1);
}

.portfolio .work-gallery .block img {
  width: 100%;
  transition: 350ms linear;
  -webkit-transition: 350ms linear;
  -moz-transition: 350ms linear;
  -ms-transition: 350ms linear;
  -o-transition: 350ms linear;
}

.portfolio .work-gallery .block .pop-up {
  display: initial;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background-color: white;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: 250ms transform ease-in-out;
  -webkit-transition: 250ms transform ease-in-out;
  -moz-transition: 250ms transform ease-in-out;
  -ms-transition: 250ms transform ease-in-out;
  -o-transition: 250ms transform ease-in-out;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .work-gallery .block .pop-up .img-title {
  font-weight: normal;
  font-size: calc(var(--main-heading-font-size) * 0.8);
  margin-bottom: 15px;
}

.portfolio .work-gallery .block .pop-up .img-category {
  font-size: calc(var(--main-description-font-size) * 1.3);
  color: var(--main-color);
}

.portfolio .work-gallary-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.portfolio .work-gallary-btn:hover {
  transform: translateX(-50%) scale(0.98);
  -webkit-transform: translateX(-50%) scale(0.98);
  -moz-transform: translateX(-50%) scale(0.98);
  -ms-transform: translateX(-50%) scale(0.98);
  -o-transform: translateX(-50%) scale(0.98);
}

.video-area {
  position: relative;
}

.video-area .video {
  width: 100%;
}

.video-area::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(32 31 45 / 64%);
}

.video-area .content-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background-color: var(--transparent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  padding: 35px 0;
}

.video-area .content-box .content-title {
  margin: 0;
  font-size: var(--main-heading-font-size);
  line-height: var(--main-description-line-height);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.video-area .content-box .content-description {
  font-size: calc(var(--main-description-font-size) * 1.2);
  line-height: var(--main-description-line-height);
  margin-bottom: 20px;
}

.video-area .content-box .content-btn {
  background-color: black;
  color: var(--main-text-color);
  text-transform: uppercase;
  margin: 0;
}

.video-area .content-box .content-btn:hover {
  background-color: var(--main-color);
  color: var(--main-text-color);
}
/* end portfolio */

/* start about */
.about .about-content {
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about .about-content img {
  width: 80%;
}

.about .statistics {
  background-image: url(../images/statistics.jpg);
  background-color: var(--blend-color);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  padding: 80px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .statistics .container {
  width: 100%;
  height: 100%;
}

.about .statistics .content {
  color: var(--main-text-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.about .statistics .content .block {
  background-color: var(--transparent-color);
  padding: 25px;
  border: 1px solid #19193559;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.about .statistics .content .block .icon {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .statistics .content .block .icon::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  background-color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.about .statistics .content .block .icon > i {
  position: relative;
  z-index: 2;
}

.about .statistics .content .block .number {
  font-size: var(--main-title-font-size);
}

.about .statistics .content .block .description {
  font-size: var(--main-description-font-size);
}

/* end about */

/* start our skills */
.our-skills {
  margin-top: 100px;
  margin-bottom: 100px;
}

.our-skills .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}

.our-skills .testimonials {
  text-align: center;
}

.our-skills .testimonials .title {
  font-size: var(--main-heading-font-size);
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 30px;
}

.our-skills .testimonials .description {
  font-size: var(--main-description-font-size);
  line-height: var(--main-description-line-height);
  margin-bottom: 50px;
  color: var(--secondary-text-color);
}

.our-skills .testimonials .persons {
  margin-bottom: 30px;
}

.our-skills .testimonials .persons .person {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  margin-bottom: 40px;
}

.our-skills .testimonials .persons .person .avatar {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  background-color: var(--transparent-color);
}

.our-skills .testimonials .persons .person .avatar img {
  width: 70px;
  height: 70px;
}

.our-skills .testimonials .persons .person .message {
  font-size: var(--main-description-font-size);
  line-height: var(--main-description-line-height);
  text-align: left;
}

.our-skills .testimonials .persons .person .signature {
  grid-column: 2/3;
  color: var(--secondary-text-color);
  text-align: right;
  position: relative;
}

.our-skills .testimonials .persons .person .signature::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #4444444d;
  left: 0;
  bottom: -15px;
}

.our-skills .testimonials .bullets {
  display: flex;
  justify-content: center;
  align-content: center;
}

.our-skills .testimonials .bullets span {
  border: 2px solid #444;
}

.our-skills .testimonials .bullets .active {
  border-color: var(--main-color);
}

.our-skills .skills > .title {
  font-size: var(--main-heading-font-size);
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 30px;
  text-align: center;
}

.our-skills .skills > .description {
  font-size: var(--main-description-font-size);
  line-height: var(--main-description-line-height);
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  text-align: center;
}

.our-skills .skills .skill-bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.our-skills .skills .skill-bars .skill {
  width: 100%;
  margin-bottom: 20px;
}

.our-skills .skills .skill-bars .skill .title {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-skills .skills .skill-bars .skill .bar {
  width: 100%;
}

.our-skills .skills .skill-bars .skill .bar .bar-fg {
  height: 26px;
  background-color: var(--main-color);
  position: relative;
}

.our-skills .skills .skill-bars .skill:first-child .bar .bar-fg {
  width: 90%;
}

.our-skills .skills .skill-bars .skill:nth-child(2) .bar .bar-fg {
  width: 80%;
}

.our-skills .skills .skill-bars .skill:nth-child(3) .bar .bar-fg {
  width: 85%;
}

.our-skills .skills .skill-bars .skill:nth-child(4) .bar .bar-fg {
  width: 75%;
}

.our-skills .skills .skill-bars .skill .bar .bar-bg {
  width: 100%;
  height: 26px;
  background-color: rgb(206, 206, 206);
}

.our-skills .skills .skill-bars .skill .bar .bar-info {
  background-color: black;
  width: 50px;
  height: 30px;
  position: absolute;
  right: -25px;
  bottom: 150%;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.our-skills .skills .skill-bars .skill .bar .bar-info::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 14px solid black;
  border-color: #040404 transparent transparent;
  bottom: -20px;
  left: 11px;
}
/* end our skills */

/* start quote */
.quote {
  min-height: 200px;
  width: 100%;
  background-image: url(../images/quote.jpg);
  background-color: var(--blend-color);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote p:first-child {
  font-size: var(--main-heading-font-size);
  line-height: var(--main-heading-line-height);
  margin-bottom: 20px;
}
/* end quote */

/* start pricing */
.pricing .prices {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.pricing .prices .price-plan {
  text-align: center;
}

.pricing .prices .price-plan .price-info {
  border-bottom: 1px solid var(--main-color);
  border-top: 1px solid var(--main-color);
  padding: 40px 0;
}

.pricing .prices .price-plan .title {
  font-weight: normal;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pricing .prices .price-plan .price {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.pricing .prices .price-plan .price span:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  align-self: flex-start;
}

.pricing .prices .price-plan .price span:nth-child(2) {
  font-weight: bold;
  font-size: 4rem;
}

.pricing .prices .price-plan .price span:nth-child(3) {
  font-weight: bold;
  font-size: 1.5rem;
  align-self: flex-end;
}

.pricing .prices .price-plan .features {
  padding: 25px 0;
  border-bottom: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing .prices .price-plan .features p {
  padding: 15px 0px;
  display: inline-block;
  border-bottom: 1px solid var(--main-color);
  width: 65%;
}

.pricing .prices .price-plan .btn {
  border: 1px solid var(--main-color);
  background-color: #fff;
  color: #000;
}

.pricing .prices .price-plan .btn:hover {
  background-color: var(--main-color);
  color: var(--main-text-color);
}

.pricing .special {
  text-align: center;
  font-size: var(--main-heading-font-size);
  margin-top: 30px;
}

.pricing .container > .btn {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.pricing .container > .btn-animation:hover {
  transform: translateX(-50%) scale(0.98);
  -webkit-transform: translateX(-50%) scale(0.98);
  -moz-transform: translateX(-50%) scale(0.98);
  -ms-transform: translateX(-50%) scale(0.98);
  -o-transform: translateX(-50%) scale(0.98);
}
/* end pricing */

/* start subscribe */
.subscribe {
  min-height: 200px;
  width: 100%;
  background-image: url(../images/subscribe.jpg);
  background-color: var(--blend-color);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe .container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.subscribe .subscribe-box {
  width: 90%;
}

.subscribe .subscribe-box .input-container {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.subscribe .subscribe-box .input-container .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0 15px;
}

.subscribe .subscribe-box .input-container input[type="text"] {
  background-color: transparent;
  border: none;
  color: #fff;
  height: 100%;
  text-indent: 5px;
  font-family: inherit;
  margin-right: 10px;
  width: 100%;
}

.subscribe .subscribe-box .input-container input[type="text"]:focus {
  outline: none;
}

.subscribe .subscribe-box .input-container input[type="submit"] {
  margin: 0;
  text-transform: uppercase;
  padding: 20px 25px;
}

.subscribe .text p {
  font-size: 1.5rem;
}
/* end subscribe */

/* start contact us */
.contact-us .content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}

.contact-us .content .form form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-us .content .form form > *:not(.btn) {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
  font-family: inherit;
  border: 1px solid #b2beb5;
}

.contact-us .content .form form > *:not(.btn):focus {
  outline: none;
}

.contact-us .content .form form .btn {
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px;
  margin-bottom: 70px;
}

.contact-us .container .content .form form textarea {
  resize: vertical;
  font-family: inherit;
  height: 150px;
}

.contact-us .content .info {
  text-align: left;
}

.contact-us .content .info h4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 15px;
}

.contact-us .content .info p {
  color: #444;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 2;
}
/* end contact us */

/* start footer */
.footer {
  min-height: 300px;
  width: 100%;
  background-image: url(../images/footer.jpg);
  background-color: var(--blend-color);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.footer .content .logo img {
  width: 200px;
  margin-bottom: 20px;
}

.footer .content .text {
  font-size: var(--main-description-font-size);
  margin-bottom: 15px;
}

.footer .content .social-links {
  margin-bottom: 50px;
}

.footer .content .social-links a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.footer .content .social-links a i {
  font-size: 25px;
  margin: 0 10px;
  color: #fff;
}

.footer .copywrite span {
  color: var(--main-color);
  font-weight: 800;
}
/* end footer */

/* start media queries */
@media (max-width: 1200px) {
  .header .navbar ul {
    display: none;
  }

  .header .toggle-icon {
    display: initial;
  }

  .portfolio .work-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .about .about-content {
    height: 220px;
  }
}

@media (max-width: 992px) {
  .our-skills .content {
    grid-template-columns: 1fr;
  }

  .our-skills .testimonials,
  .our-skills .skills {
    max-width: 80%;
    margin: auto;
  }

  .our-skills .testimonials .persons .person {
    gap: 50px;
  }

  .our-skills .testimonials .persons .person .avatar img {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 768px) {
  :root {
    --main-heading-font-size: 1.5rem;
  }

  .landing .arrows {
    display: none;
  }

  .landing .content-box .content {
    margin: 0;
  }

  .services .services-content {
    grid-template-columns: 1fr;
  }

  .services .service .fa-3x {
    font-size: 2.5em;
  }

  .services-banner .images img {
    width: 140px;
  }

  .services-banner .images {
    left: 20px;
    top: 55%;
  }

  .services-banner .images img:nth-child(2) {
    left: 60px;
  }

  .about .about-content {
    height: 150px;
  }

  .about .statistics .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .our-skills .testimonials,
  .our-skills .skills {
    max-width: 100%;
    margin: unset;
  }

  .our-skills .testimonials .persons .person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .our-skills .testimonials .persons .person .avatar {
    align-self: center;
  }

  .pricing .prices {
    grid-template-columns: repeat(2, 1fr);
  }

  .subscribe .container {
    flex-direction: column;
    gap: 20px;
  }

  .contact-us .content {
    grid-template-columns: 1fr;
  }

  .contact-us .content .info {
    text-align: center;
  }
}

@media (max-width: 567px) {
  :root {
    --main-heading-font-size: 1.3rem;
    --main-description-font-size: 0.9rem;
    --main-title-font-size: 2.2rem;
  }

  .header .container {
    gap: 10px;
  }

  .landing .content-box {
    width: 100%;
    text-align: center;
  }

  .services .services-content {
    gap: 50px;
  }

  .services .services-content .service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services .services-content .service-description {
    text-align: center;
  }

  .services .service .fa-3x {
    font-size: 1.7em;
  }

  .services-banner .banner-box {
    width: 100%;
    justify-content: center;
  }

  .services-banner .images {
    display: none;
  }

  .portfolio .work-gallery {
    grid-template-columns: 1fr;
  }

  .about .about-content {
    height: 110px;
  }

  .about .statistics .content {
    grid-template-columns: 1fr;
  }

  .pricing .prices {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 375px) {
  .about .about-content {
    height: 80px;
  }
}
/* end media queries */
